if theme.aside.card_weibo.enable
    .card-widget.card-weather(style='width:100%,height:270px')
        .item-headline
            i(class=theme.aside.card_weibo.icon)
            span="微博热搜"
        #weiboContent
    