if theme.post_copyright.enable && page.copyright !== false
  - let author = page.copyright_author || config.author
  - let authorHref = page.copyright_author_href || theme.post_copyright.author_href || config.url
  - let url = page.copyright_url || page.permalink
  - let info = page.copyright_info || _p('post.copyright.copyright_content', theme.post_copyright.license_url, theme.post_copyright.license, config.url, config.title)
  .post-copyright
    .post-copyright__author
      //- span.post-copyright-meta= _p('post.copyright.author') + ": "
      a.post-copyright__original(title="该文章为原创文章，注意版权协议", href="/cc/" data-pjax-state="modifier") 原创
      a.post-copyright-title(href="#", data-pjax-state)
        span=page.title
    .post-copyright__type
      span.post-copyright-info#post-copyright-url
        a(href=url_for(url), data-pjax-state)=url_for(url)
      button.post-copyright-copybtn(onclick=`st.copyText('.post-copyright-copybtn', ${url_for(url)})`)
        i.fas.fa-paste.copy-btn
    .post-copyright__notice
      span.post-copyright-info 本文是原创文章，采用 
        a(href=url_for(info.license_url), target="_blank") CC BY-NC-ND 4.0
        span 协议，完整转载请注明。
